variables:
  SERVICE_NAME: usremoterecqa
  CI_REPO_BRANCH: master
  SCRIPTS_DIR: app
  TEST_COMMAND: test-in-docker
  TEST_METHOD: docker-compose
  MYSQL_CONFIGS_DIR: app/test/files/mysql_configs
  DOCKER_COMPOSE_FOR_TESTS: app/test/docker-compose.yml
  DEPLOYMENT_NAMESPACE: webinfra-applications
  SHOULD_PUSH_TO_DOCKERHUB: "false"
  APPLICATION_NAME: webinfra-example-app-backend
  MAF_MANIFEST_PATH: deployment/manifest.json
  MAF_DEPLOY_TOKEN: ad5f2e4a-fca9-4052-afd8-52a93429eb1c
  NEW_SERVICE_VERSION: ""
  INSTALL_MODULES: 'true'
  GITLAB_REGISTRY_DEPLOY: 'true'
  USE_GITLAB_PACKAGE_REGISTRY: 'true'

  ##================== ***  sreDeploy *** ================##

  IMAGE: registry.gitlab.com/nielsen-media/maf/maf-public/packages/webinfra-example-app-backend
  LISTEN_PORT: "8070"
  LISTEN_PORT_NAME: "http"
  HEALTH_PATH: "/usremoterecqa/service/health"

  ##================== *** END sreDeploy END *** ================##

  ENV:
    value: "npd"
    description: "The deployment target. Change this variable to 'prod' if needed."

  NEW_SERVICE_VERSION:
    value: "latest"
    description: "The deployment version."


include:
  - project: "nielsen-media/identity/cloudops/continuous-integration"
    ref: master
    file:
      - "/Jobs/maf/initPipeline.yml"
      - "/Jobs/maf/bumpVersion.yml"
      - "/Jobs/maf/buildImage.yml"
      - "/Jobs/maf/preBuildTests.yml"
      - "/Jobs/maf/platformSreDeploy.yml"
      - '/Jobs/maf/deployManifest.yml'
      - '/Jobs/maf/npmPublish.yml'
      -  '/Jobs/maf/restart.yml'
    rules:
      - if: '$ENV != "prod"'

  - project: 'nielsen-media/identity/cloudops/continuous-integration'
    ref: master
    file:
      - '/Jobs/maf/initPipeline.yml'
      - '/Jobs/maf/platformSreDeploy.yml'
      - '/Jobs/maf/deployManifest.yml'
      -  '/Jobs/maf/restart.yml'
    rules:
      - if: '$CI_COMMIT_BRANCH == "master" && $ENV == "prod"'


stages:
  - mafInit
  - mafPreBuildTest
  - mafBumpVersion
  - mafNpmPublish
  - mafBuild
  - sreDeploy
  - mafDeploymentManifest
  - restart
  - sreCleanup


