stages:
 - release
 - build
 - deploy

include:
  # - project: 'nielsen-media/me/planning/infra/gitlab-ci-tools'
  #   file: 'gitlab-templates/semantic/template.yml'
  #   ref: 4.10.1
  - project: 'nielsen-media/me/planning/infra/gitlab-ci-tools'
    file: '/gitlab-templates/ecr/template.yml'
    ref: 4.10.1


.semantic-release:
  stage: release
  variables:
      GITLAB_TOKEN: $GITLAB_ONE_MEDIA_RECRUITMENT

build:
  stage: build
  extends: .release-image
  only:
    - tags
  tags:
    - tqa-rec

cleanup:
  stage: deploy
  image: 307422823171.dkr.ecr.eu-west-1.amazonaws.com/devops/helmfile:1.1.2
  script:
    - kubectl config use-context nielsen-media/platforms/tools-devops-external/runners-as-a-service/runner-panel-recruitment:mptdevops-nonprod-us-east-1-kaas-blue
    - helm del panel-recruitment-quality -n panel-recruitment
  when: manual

.deploy:
  stage: deploy
  image: 307422823171.dkr.ecr.eu-west-1.amazonaws.com/devops/helmfile:1.1.2
  variables:
    NAMESPACE: tqa-panel-recruitment-quality
  script:
    - kubectl config get-contexts
    - kubectl config use-context nielsen-media/platforms/tools-devops-external/runners-as-a-service/runner-tqa-panel-recruitment-quality:$KAAS_AGENT
    - kubectl get po -n $NAMESPACE
    - >
      kubectl create secret docker-registry gitlab
      --docker-server=registry.gitlab.com
      --docker-username=GITLAB_REGISTREY_PULL
      --docker-password=$GITLAB_REGISTREY_PULL_PWD 
      --dry-run=client -o yaml
      -n $NAMESPACE | kubectl apply -f -

    - >
      helm upgrade panel-recruitment-quality helm/ --install -n $NAMESPACE -f $VALUES_FILE
      --set rds.host=$DB_HOST
      --set rds.username=$DB_USERNAME
      --set rds.password=$DB_PASSWORD

deploy-np:
  extends: .deploy
  variables:
    DB_HOST: $DB_HOST_NP 
    DB_PASSWORD: $DB_PASSWORD_NP
    DB_USERNAME: $DB_USERNAME_NP
    VALUES_FILE: values/np.yaml
    KAAS_AGENT: mptdevops-nonprod-us-east-1-kaas-blue
  only:
    - tags
    - main
  tags:
    - tqa-rec



.deploy-prod:
  extends: .deploy
  variables:
    VALUES_FILE: values/prod.yaml
    KAAS_AGENT: mptdevops-prod-us-east-1-kaas-blue

