stages:
 - release
 - build
 - deploy

include:
  # - project: 'nielsen-media/me/planning/infra/gitlab-ci-tools'
  #   file: 'gitlab-templates/semantic/template.yml'
  #   ref: 4.10.1
  - project: 'nielsen-media/me/planning/infra/gitlab-ci-tools'
    file: '/gitlab-templates/ecr/template.yml'
    ref: 4.10.1

.semantic-release:
  stage: release
  variables:
      GITLAB_TOKEN: $GITLAB_ONE_MEDIA_RECRUITMENT

build:
  stage: build
  extends: .release-image
  before_script:
    - sed -i "s/\{NPM_AUTH_TOKEN}/$NPM_AUTH_TOKEN/" .npmrc
  after_script:
    - sed -i "s/\$NPM_AUTH_TOKEN/{NPM_AUTH_TOKEN}/" .npmrc
  only:
    - tags
  tags:
    - tqa-rec

#example how to unistall a helm release
.cleanup:
  stage: deploy
  image: 307422823171.dkr.ecr.eu-west-1.amazonaws.com/devops/helmfile:1.1.2
  script:
    - kubectl config use-context nielsen-media/platforms/tools-devops-external/runners-as-a-service/runner-panel-recruitment:mptdevops-nonprod-us-east-1-kaas-blue
    - helm del panel-recruitment-quality -n panel-recruitment
  when: manual

.deploy:
  stage: deploy
  image: 307422823171.dkr.ecr.eu-west-1.amazonaws.com/devops/helmfile:1.1.2
  variables:
    NAMESPACE: tqa-panel-recruitment-quality
  script:
    - kubectl config use-context nielsen-media/platforms/tools-devops-external/runners-as-a-service/runner-tqa-panel-recruitment-quality:$KAAS_AGENT
    - >
      kubectl create secret docker-registry gitlab
      --docker-server=registry.gitlab.com
      --docker-username=GITLAB_REGISTREY_PULL
      --docker-password=$GITLAB_REGISTREY_PULL_PWD 
      --dry-run=client -o yaml
      -n $NAMESPACE | kubectl apply -f -

    - >
      helm upgrade panel-recruitment-quality helm/ --install -n $NAMESPACE -f $VALUES_FILE
      --set rds.appToken=$APP_TOKEN   
      --set rds.appGateway=$APP_GATEWAY_PATH
      --set rds.host=$DB_HOST
      --set rds.username=$DB_USERNAME
      --set rds.password=$DB_PASSWORD
      --set rds.googleClientID=$CLIENT_ID   
      --set rds.googleClientSecret=$CLIENT_SECRET
      --set rds.googleRedirectUri=$REDIRECT_URI
      --set rds.gmailAccessToken=$GMAIL_ACCESS_TOKEN
      --set rds.gmailRefreshToken=$GMAIL_REFRESH_TOKEN
  only:
    - main
  tags:
    - tqa-rec

deploy-np:
  extends: .deploy
  variables:
    APP_TOKEN: $APP_TOKEN
    APP_GATEWAY_PATH: $APP_GATEWAY_PATH_NP
    DB_HOST: $DB_HOST
    DB_PASSWORD: $DB_PASSWORD
    DB_USERNAME: $DB_USERNAME
    CLIENT_ID: $CLIENT_ID
    CLIENT_SECRET: $CLIENT_SECRET
    REDIRECT_URI: $REDIRECT_URI_NP
    GMAIL_ACCESS_TOKEN: $GMAIL_ACCESS_TOKEN
    GMAIL_REFRESH_TOKEN: $GMAIL_REFRESH_TOKEN
    VALUES_FILE: values/np.yaml
    KAAS_AGENT: mptdevops-nonprod-us-east-1-kaas-blue

.deploy-prod:
  extends: .deploy
  variables:
    APP_TOKEN: $APP_TOKEN
    APP_GATEWAY_PATH: $APP_GATEWAY_PATH_P
    DB_HOST: $DB_HOST
    DB_PASSWORD: $DB_PASSWORD
    DB_USERNAME: $DB_USERNAME
    CLIENT_ID: $CLIENT_ID
    CLIENT_SECRET: $CLIENT_SECRET
    REDIRECT_URI: $REDIRECT_URI_P
    GMAIL_ACCESS_TOKEN: $GMAIL_ACCESS_TOKEN
    GMAIL_REFRESH_TOKEN: $GMAIL_REFRESH_TOKEN
    VALUES_FILE: values/prod.yaml
    KAAS_AGENT: mptdevops-prod-us-east-1-kaas-blue