//registry.npmjs.org/
@nielsen-media:registry=https://gitlab.com/api/v4/projects/23296024/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken={NPM_AUTH_TOKEN}
//gitlab.com/api/v4/projects/23296024/packages/npm/:_authToken={NPM_AUTH_TOKEN}
registry=https://registry.npmjs.org/

always-auth=true
